<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Feedback page</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <%- include('./partials/header') %>

    <main class="main">
        <section class="feedback" id="feedback">
            <div class="container">
                <h2 class="feedback__title">
                    Напишіть нам
                </h2>
        
                <form action="/feedback" method="POST">
                    <div class="feedback-block">
                        <div class="feedback-block__item">
                            <div class="feedback-block__text">
                                Ім’я
                            </div>
                            
                            <div class="feedback-block__input">
                                <input type="text" name="name" id="feedbackName" placeholder="Ім'я" required>
                            </div>
                        </div>
        
                        <div class="feedback-block__item">
                            <div class="feedback-block__text">
                                E-mail
                            </div>
                            
                            <div class="feedback-block__input">
                                <input type="email" name="email" id="feedbackEmail" placeholder="E-mail" required>
                            </div>
                        </div>  
        
                        <div class="feedback-block__item">
                            <div class="feedback-block__text">
                                Текст повідомлення
                            </div>
                            
                            <div class="feedback-block__input">
                                <textarea name="message" id="feedbackMessage" wrap="soft" placeholder="Залишити відгук" required>
                                </textarea>
                            </div>
                        </div> 
                    </div>
        
                    <button type="submit" class="button">
                        Відправити
                    </button>
                </form>
            </div>
        </section>        
    </main>

    <script src="js/main.js"></script>
</body>
</html>